.top-bar-title {
	font-size: 2em;
}

.header-picture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: black;
}
.nav{
	background-image:linear-gradient(#A6A296, black);
}
.top-bar{
	background: black;
	background-image:url(img/skyrim_muralduin.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	background-position:center;
	height: 115px;
}
.add{
	color: white;
}
.user{
	color: white;
}
.adduser{
	color: white;
}
.title{
	color: white;
	font-size: 60px;
}
.view_manual{
	color: white;
}
.view_cv{
	color: white;
}
.view_about{
	color: white;
}
.img{
	background: black;
	opacity: 80%;
}
.data-dropdown-menu{
	background: black;
}

.menu-menu{
	background: #A6A296;
}