.row{
	background-image:url(img/235470.jpg);

	background-repeat:no-repeat;
	background-attachment:fixed;
	background-color: #706D5D;
	background-position: center 0%;
	background-size: 900px 480px;
	@include breakpoint(medium) {
		background-image:url(img/235470.jpg);

		background-repeat:no-repeat;
		background-attachment:fixed;
		background-color: #706D5D;
		background-position: center 0%;
		background-size: 920px 500px;
	}
	@include breakpoint(large) {
		background-image:url(img/235470.jpg);

		background-repeat:no-repeat;
		background-attachment:fixed;
		background-color: #706D5D;
		background-position: center 10%;
		background-size: 1760px 990px;

	}
}
.mail{
	width: 100px;
	height: 20px;


	@include breakpoint(medium) {
		width: 200px;
		height: 30px;
	};
	@include breakpoint(large) {
		width: 300px;
		height: 40px;
	};
}
.pw{
	width: 100px;
	height: 20px;


	@include breakpoint(medium) {
		width: 200px;
		height: 30px;
	};
	@include breakpoint(large) {
		width: 300px;
		height: 40px;
	};
}

label{
	color: white;
}
h1{
	color: white;
}