html, body {
	height: 100%;
}

.nav {
	top: initial;
}

.off-canvas-wrapper {
	min-height: 100%;
}

main {
	background: #072741;
}

.page-title {
	margin-top: 8px;
	margin-left: .625rem;
}


.tasklist {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tasklist-header, .tasklist-item {
	padding: 10px;
	width: 100%;
	background: rgba(00, 00, 00, 0.5);
}

.tasklist-header {
	background: rgba(07, 27, 41, 0.5);
	color: white;
	font-weight: bold;
}

.tasklist-item-id{
	display: inline-block;
	font-size: 0%;
	width: 0px;
	margin: 0px 0px 0px 0px;
	color: #FFFFFF;
	@include breakpoint(medium) {
		display: inline-block;
		font-size: 75%;
		width: 30px;
		margin: 0px 5px 0px 5px;
		color: #FFFFFF;
	}
	@include breakpoint(large) {
		display: inline-block;
		font-size: 100%;
		width: 50px;
		margin: 0px 10px 0px 10px;
		color: #FFFFFF;
	}
}
.tasklist-item-priority{
	display: inline-block;
	font-size: 50%;
	width: 20px;
	margin: 0px 5px 0px 0px;
	text-align: center;
	color: #FFFFFF;
	@include breakpoint(medium) {
		display: inline-block;
		font-size: 75%;
		width: 30px;
		margin: 0px 5px 0px 5px;
		text-align: center;
		color: #FFFFFF;
	}
	@include breakpoint(large) {
		display: inline-block;
		font-size: 100%;
		width: 50px;
		margin: 0px 10px 0px 10px;
		text-align: center;
		color: #FFFFFF;
	}
}
.tasklist-item-description{
	display: inline-block;
	font-size: 50%;
	width: 80px;
	margin: 0px 5px 0px 10px;
	color: #FFFFFF;
	@include breakpoint(medium) {
		display: inline-block;
		font-size: 75%;
		width: 150px;
		margin: 0px 10px 0px 10px;
		color: #FFFFFF;
	}
	@include breakpoint(large) {
		display: inline-block;
		font-size: 100%;
		width: 250px;
		margin: 0px 10px 0px 10px;
		color: #FFFFFF;
	}
}
.tasklist-item-creator{
	display: inline-block;
	font-size: 0%;
	width: 0px;
	margin: 0px 0px 0px 0px;
	text-align: center;
	color: #FFFFFF;
	@include breakpoint(medium){
		display: inline-block;
		font-size: 0%;
		width: 100px;
		margin: 0px 0px 0px 0px;
		text-align: center;
		color: #FFFFFF;
	}
	@include breakpoint(large){
		display: inline-block;
		font-size: 100%;
		width: 100px;
		margin: 0px 10px 0px 10px;
		text-align: center;
		color: #FFFFFF;
	}
}
.tasklist-item-assignee{
	display: inline-block;
	font-size: 50%;
	width: 80px;
	margin: 0px 5px 0px 5px;
	text-align: center;
	color: #FFFFFF;
	@include breakpoint(medium){
		display: inline-block;
		font-size: 75%;
		width: 100px;
		margin: 0px 5px 0px 5px;
		text-align: center;
		color: #FFFFFF;
	}
	@include breakpoint(large){
		display: inline-block;
		font-size: 100%;
		width: 100px;
		margin: 0px 5px 0px 5px;
		text-align: center;
		color: #FFFFFF;
	}
}
.tasklist-item-due{
	display: inline-block;
	font-size: 50%;
	width: 100px;
	margin: 0px 5px 0px 5px;
	text-align: center;
	color: #FFFFFF;
	@include breakpoint(medium){
		display: inline-block;
		font-size: 75%;
		width: 150px;
		margin: 0px 5px 0px 5px;
		text-align: center;
		color: #FFFFFF;
	}
	@include breakpoint(large){
		display: inline-block;
		font-size: 100%;
		width: 200px;
		margin: 0px 5px 0px 5px;
		text-align: center;
		color: #FFFFFF;
	}
}
.tasklist-item-actions{
	font-size: 50%;
	color: #FFFFFF;
	width: 30px;
	@include breakpoint(medium){
		font-size: 75%;
		color: #FFFFFF;
		width: 30px;
	}
	@include breakpoint(large){
		font-size: 100%;
		color: #FFFFFF;
		width: 30px;
	}
}
.tasklist-item-actions .fa-check {
	display: inline-block;
	color: green;
}

.tasklist-item-actions .fa-times {
	display: inline-block;
	color: red;
}

.tasklist-item-actions .fa-pencil {
	display: inline-block;
	color: white;
}

.tasklist-item-close {
	background: grey!important;
}

.tasklist-item-close > span {
	text-decoration: line-through;
}

.tasklist-item-close .tasklist-item-actions {
	text-decoration: none;
}

.tasklist-item-close .tasklist-item-actions .fa, .tasklist-item-close > span {
	color: silver;
}
.row{
	background-image:url(img/222.jpg);

	background-repeat:no-repeat;
	background-attachment:fixed;
	background-color: #706D5D;
	background-position:50% -10%;
	background-size: 140%;
}
